.fade-enter-active {
    transition: opacity 1s
}

.fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to  {
  opacity: 0
}

.fastfade-enter-active {
  transition: opacity .1s
}

.fastfade-leave-active {
  transition: opacity .1s
}

.fastfade-enter, .fastfade-leave-to  {
  opacity: 0
}
